tensorflow
pandas
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost 
dvc
notebook
python-box==6.0.2  #
pyYAML  #to read yaml file we need this
tqdm  #to see the progress bar like loading bar
ensure==1.0.2  #
joblib 
types-PyYAML
scipy
Flask
Flask-Cors
-e .